*~
_book/
/lib/jemalloc
.cproject
.project
.settings/
build/
include/fluent-bit/flb_info.h
include/fluent-bit/flb_plugins.h
include/fluent-bit/flb_version.h
init/fluent-bit.service
lib/monkey/include/monkey/mk_core/mk_core_info.h
*.o
*.a
*.la
*.lo
*.so
CMakeFiles
bin
*.cmake
Makefile
CMakeCache.txt
include/onigmo.h
include/onigmognu.h
include/onigmoposix.h
onigmo-prefix/src/onigmo-build
onigmo-prefix/src/onigmo-stamp
onigmo-prefix/tmp
*.pc
